<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyLocalBroadband.WSSSecurityManagement.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MyLocalBroadband.WSSSecurityManagement.Client.Properties.Settings>
            <setting name="MyLocalBroadband_WSSSecurityManagement_Client_HostingTools_WS_HostingTools"
                serializeAs="String">
                <value>http://localhost:8080/_vti_adm/HostingToolsSvc.asmx</value>
            </setting>
            <setting name="MyLocalBroadband_WSSSecurityManagement_Client_HostingSharePoint_WS_SharePointService"
                serializeAs="String">
                <value>http://localhost:8080/_vti_adm/HostingSharePointSvc.asmx</value>
            </setting>
            <setting name="MyLocalBroadband_WSSSecurityManagement_Client_HostingSQLMembership_WS_SQLMembershipService"
                serializeAs="String">
                <value>http://localhost:8080/_vti_adm/HostingSQLMembershipSvc.asmx</value>
            </setting>
            <setting name="MyLocalBroadband_WSSSecurityManagement_Client_HostingSQLRole_WS_SQLRoleService"
                serializeAs="String">
                <value>http://localhost:8080/_vti_adm/HostingSQLRoleSvc.asmx</value>
            </setting>
            <setting name="CentralAdminURL" serializeAs="String">
                <value>http://localhost:8080</value>
            </setting>
            <setting name="DNSURL" serializeAs="String">
                <value>dev.mylocalbroadband.com</value>
            </setting>
            <setting name="DNSIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="NewSite_SiteURL" serializeAs="String">
                <value>http://dev.mylocalbroadband.com</value>
            </setting>
            <setting name="NewSite_SiteTitle" serializeAs="String">
                <value>Dev Site</value>
            </setting>
            <setting name="NewSite_SiteDescription" serializeAs="String">
                <value>My Local Broadband LLC Dev Site</value>
            </setting>
            <setting name="NewSite_SiteTemplate" serializeAs="String">
                <value>STS#0</value>
            </setting>
            <setting name="NewSite_LCID" serializeAs="String">
                <value>1033</value>
            </setting>
            <setting name="NewSite_WebApplicationName" serializeAs="String">
                <value>dev.mylocalbroadband.com</value>
            </setting>
            <setting name="NewSite_WebApplicationURL" serializeAs="String">
                <value>http://MLBDevSearch</value>
            </setting>
            <setting name="NewSite_MembershipProviderName" serializeAs="String">
                <value>SecMembershipProvider</value>
            </setting>
            <setting name="NewSite_OwnerLogin" serializeAs="String">
                <value>rmiller@mylocalbroadband.com</value>
            </setting>
            <setting name="NewSite_OwnerFirstName" serializeAs="String">
                <value>Ryan</value>
            </setting>
            <setting name="NewSite_OwnerLastName" serializeAs="String">
                <value>Miller</value>
            </setting>
            <setting name="NewSite_OwnerEmail" serializeAs="String">
                <value>rmiller@mylocalbroadband.com</value>
            </setting>
            <setting name="NewSite_OwnerPassword" serializeAs="String">
                <value>passw0rd#</value>
            </setting>
            <setting name="NewSite_PasswordQuestion" serializeAs="String">
                <value>q</value>
            </setting>
            <setting name="NewSite_PasswordAnswer" serializeAs="String">
                <value>a</value>
            </setting>
        </MyLocalBroadband.WSSSecurityManagement.Client.Properties.Settings>
    </applicationSettings>
</configuration>