<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="None"/>
    <add key="EULA" value="EULA.rtf"/>
    <add key="SolutionId" value="93fe9d9e-b851-4ae3-9873-a6e0ff1b3b89"/>
    <add key="FarmFeatureId" value=""/>
    <add key="SolutionFile" value="MyLocalBroadband.WSSSecurityProvider.wsp"/>
    <add key="SolutionTitle" value="My Local Broadband WSS Security Provider"/>
    <add key="SolutionVersion" value="1.0.0.0"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>    
  </appSettings>
</configuration>