<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Pop Client Settings-->
    <add key="popHost" value="pop.gmail.com"/>
    <add key="popPort" value="995"/>
    <add key="useSSL" value="true"/>
    <add key="popUser" value="devserver@mylocalbroadband.com"/>
    <add key="popPassword" value="{password}"/>
    <add key="traceToConsole" value="true"/>
    <add key="deleteAfterRetrieve" value="true"/>

    <!-- Drop Box Settings-->
    <add key="dropFolderPath" value="c:\spIncomingMail"/>
  </appSettings>
</configuration>