<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSSFileUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WSSFileUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WSSFileUpload.Properties.Settings>
            <setting name="WSSFileUpload_Authentication_ws_Authentication"
                serializeAs="String">
                <value>http://www.mylocalbroadband.com/_vti_bin/Authentication.asmx</value>
            </setting>
            <setting name="WSSFileUpload_Copy_ws_Copy" serializeAs="String">
                <value>http://www.mylocalbroadband.com/_vti_bin/Copy.asmx</value>
            </setting>
        </WSSFileUpload.Properties.Settings>
    </applicationSettings>
 <userSettings>
  <WSSFileUpload.Properties.Settings>
   <setting name="UserNameDefault" serializeAs="String">
    <value>testUser</value>
   </setting>
   <setting name="PasswordDefault" serializeAs="String">
    <value>!testuser!</value>
   </setting>
   <setting name="SiteURLDefault" serializeAs="String">
    <value>http://www.mylocalbroadband.com/customers</value>
   </setting>
   <setting name="LibraryDefault" serializeAs="String">
    <value>Shared%20Documents</value>
   </setting>
   <setting name="FilesDefault" serializeAs="String">
    <value>C:\logs\log.txt;C:\logs\log1.txt</value>
   </setting>
  </WSSFileUpload.Properties.Settings>
 </userSettings>
</configuration>