<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyLocalBroadband.WSSPictureUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyLocalBroadband.WSSPictureUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MyLocalBroadband.WSSPictureUploader.Properties.Settings>
            <setting name="WSSPictureUploader_Imaging_WS_Imaging" serializeAs="String">
                <value>http://www.mylocalbroadband.com/_vti_bin/Imaging.asmx</value>
            </setting>
            <setting name="WSSPictureUploader_Authentication_WS_Authentication"
                serializeAs="String">
                <value>http://www.mylocalbroadband.com/_vti_bin/Authentication.asmx</value>
            </setting>
        </MyLocalBroadband.WSSPictureUploader.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MyLocalBroadband.WSSPictureUploader.Properties.Settings>
            <setting name="UserDefault" serializeAs="String">
                <value>*user*</value>
            </setting>
            <setting name="SiteDefault" serializeAs="String">
                <value>http://www.mylocalbroadband.com</value>
            </setting>
            <setting name="LibraryDefault" serializeAs="String">
                <value>photos</value>
            </setting>
            <setting name="PasswordDefault" serializeAs="String">
                <value>*password*</value>
            </setting>
            <setting name="FolderDefault" serializeAs="String">
                <value>*folder*</value>
            </setting>
        </MyLocalBroadband.WSSPictureUploader.Properties.Settings>
    </userSettings>
</configuration>